/* new stuff */
/* section tag */
/* een selectie in een document, sections should always have a heading */

/* adding styles for the outer div: .wrapper  */
.wrapper {
  height: 100vh;
  /* overflow-x: hidden;
  overflow-y: hidden; */
  perspective: 2px;
}

/* SECTION */
section {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 0 0 5px #000;
  /* margin-bottom: 25vh; */
}

/* PARALLAX */
#bg1 {
  background-image: url(/src/parallax_1.jpg);
}

#bg2 {
  background-image: url(/src/parallax_2.jpg);
}

#bg3 {
  background-image: url(/src/parallax_3.jpg);
}

#bg4 {
  background-image: url(/src/parallax_4.jpg);
}

.parallax {
  height: 500px;
  /*scrolling effect*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
